@model IEnumerable<MovieCatalog.Domain.Models.Movie>

<div>
    @foreach (var movie in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                <p class="card-text">@movie.Description</p>
            </div>
        </div>
    }
</div>